@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  font-family: Nunito;
  background-color: hsl(0, 0%, 10%);
}

.to-do-list {
  text-align: center;
  margin-top: 20px;
}

h1 {
  font-size: 2rem;
  color: yellow;
}

button {
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button {
  background-color: hsl(125, 47%, 54%);
}

.add-button:hover {
  background-color: hsl(125, 47%, 44%);
}

.delete-button {
  background-color: hsl(10, 90%, 50%);
}

.delete-button:hover {
  background-color: hsl(10, 90%, 40%);
}

.move-button {
  background-color: rgb(202, 202, 17);
}

.move-button:hover {
  background-color: black;
}

input[type="text"] {
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: hsl(0, 0%, 0%, 0.5);
  margin: 5px;
  width: 17rem;
}

ol {
  padding: 0;
}

li {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsl(0, 0%, 85%, 0.75%);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

.delete-button,
.move-button {
  padding: 8px 12px;
  font-size: 1rem;
  margin-left: 10px;
}
